
*
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 20px;
	font-size: 20px;
    background-color:black;
}


.confondo{ 
    background-color:#fcefed;
    border: none;
}

.etiqueta {
    color: white;
}

.boton {
    color: white;
    background-color: aquamarine;
    color: black;
}

.area{
    background-color: white;
    
}

.grande {
    font-size: 40px;
    color: green;
}